.almatable 
.almatopper { background: #6B7B78 url('https://im.ezgif.com/tmp/ezgif-1-0233e98337.jpg'); width: 60px; height: 56px; padding-top: 2px; font-size: 25px; border:3px double #5252; position: relative; top: 75px; left: 6px; border-radius: 100%; color: #000; z-index: 1 }
